{% extends "layout.html" %}

{% block title %}
    View Annenberg in Table
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Table ID</th>
                <th>Check in Time</th>
                <th>Average Eating Time</th>
            </tr>
        </thead>
        {% for user in all_users %}
            <tr>
                <td>{{ user["userID"] }}</td>
                <td>{{ user["name"] }}</td>
                <td>{{ user["tableID"] }}</td>
                <td>{{ user["checkInTime"] }}</td>
                <td>{{ user["eatingTime"] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}