{% extends "layout.html" %}

{% block title %}
    View Annenberg in Table
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Table ID</th>
                <th>Check in Time</th>
                <th>Average Eating Time</th>
            </tr>
        </thead>
        {% for user in all_users %}
            <tr>
                <td>{{ user["name"] }}</td>
                <td>{{ user["tableID"] }}</td>
                <td>{{ user["checkInTime"] }}</td>
                {% if not user['eatingTime'] %}
                    <td>{{ user["eatingTime"] }}</td>
                {% else %}
                    {% set eatingTime = user["eatingTime"] | int %}
                    <td>{{ '%2d' %  (eatingTime/60) }} min</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}