{% extends "layout.html" %}

{% block title %}
    Table Buddies
{% endblock %}

{% block berg %}
    <main class="container p-5">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Meal Completion Stage</th>
            </tr>
        </thead>
        {% for buddy in buddies %}
            <tr>
                <td>{{ buddy['name'] }}</td>
                <td><progress value={{ '%02d' % buddy['percentage'] }} max="100">::after</progress>     {{ '%02d' % buddy['percentage'] }}%</td>
                <!--buddy['percentage'] label is for debugging-->
                <!--to style css https://css-tricks.com/html5-progress-element/-->
            </tr>
        {% endfor %}
    </main>
{% endblock %}